/*CSS para o cabeçario*/

header {
  background: url("Banner-7DaysOfCode.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;
}

.logo {
	width: 30%;
  margin: 0 auto;
  display: block;
  padding: 1em 0;
}

.bloco {
	width: 1280px;
	margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

nav li {
	display: inline;
}

nav a {
	color: lightgrey;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, 
  -1px -1px black, 1px -1px black, -1px 1px black;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
	padding: 0 0.5em;
}

nav a:hover {
  color: white;
	text-decoration: underline;
}

/*Elementos em comum*/

body {
  background: #282828;
}

.conteudo {
  padding: 2em 0;
}

.largura-conteudo {
  width: 1280px;
	margin: 0 auto;
}

.titulo-principal {
  margin: 0 auto 1em;
  padding: 0.2em 0.4em 0.1em;
	text-align: center;
  font-family: 'Bebas Neue', cursive;
	font-size: 3em;
  background: yellow;
  color: black;
  width: fit-content;
}

/*Página Index*/



/*Day 1*/

.texto1 {
  background: black;
  padding: 2.5em;
  border-radius: 5px;
  box-shadow: 0 2px 24px aqua;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  color: white;

}

/*Day 2*/

.texto2 {
  background: black;
  padding: 2.5em;
  border-radius: 5px;
  box-shadow: 0 2px 24px aqua;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  color: white;
}

form {
  width: 48%;
}

.input-padrao {
	display: block;
	margin: 0.4em 0 1em;
	padding: 5px 10px;
	font-family: 'Rokkitt', serif;
	font-size: 0.8em;
	width: 93%;
}

#enviar {
	width:35%;
	padding: 0.2em 0.4em 0.1em;
	margin: 0.5em 0 0 5em;
	background: yellow;
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	border: none;
	transition: 1s all;
	cursor: pointer;
}

#enviar:hover {
	transform: scale(1.08);
}

.modal{
  opacity: 1;
  background-color: black;
  padding: 1.8em;
  position: absolute;
  height: 11em;
  width: 28em;
  color: white;
}

.modal p:not(.mensagem) {
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
  margin: 0 0 1em;
  text-align: center;
}

.mensagem {
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
  margin: 0 0 1.5em;
  text-align: center;
}

fieldset {
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

.opts.yes {
  margin-right: 3em;
}

#yes:checked::after, #no:checked::after {
  left: 0;
  position: absolute;
  text-align: center;
  top: 3em;
  width: 100%;
}

#yes:checked::after{
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  content: "Muito bom! Continue estudando e você terá muito sucesso!";
}

#no:checked::after{
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  content: "Ah, que pena... Já tentou aprender outras linguagens?";
}

