/*Day 2*/

.caixa {
  background: black;
  padding: 2.5em;
  border-radius: 5px;
  box-shadow: 0 2px 24px aqua;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  color: white;
}

form {
  width: 48%;
}

.input-padrao {
	display: block;
	margin: 0.4em 0 1em;
	padding: 5px 10px;
	font-family: 'Rokkitt', serif;
	font-size: 0.8em;
	width: 93%;
}

#enviar {
	width:35%;
	padding: 0.2em 0.4em 0.1em;
	margin: 0.5em 0 0 5em;
	background: yellow;
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	border: none;
	transition: 1s all;
	cursor: pointer;
}

#enviar:hover {
	transform: scale(1.08);
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  position: absolute;
  z-index: 1;
  height: 11em;
  width: 30em;
  background-color: black;
  color: white;
}

.modal .flex {
  text-align: right;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn-close:hover {
  background: white;
}

.msg1 {
  font-size: 1.2em;
  margin: 0 0 1.6em;
  font-family: 'Rokkitt', serif;
  text-align: center;
  color: white;
}

.msg2 {
  font-size: 1.2em;
  margin: 0 0 0.8em;
  font-family: 'Rokkitt', serif;
  text-align: center;
}

fieldset {
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

.opts.yes {
  margin-right: 3em;
}

#yes:checked::after, #no:checked::after {
  left: 0;
  position: absolute;
  text-align: center;
  top: 3em;
  width: 100%;
}

#yes:checked::after{
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  content: "Muito bom! Continue estudando e você terá muito sucesso!";
}

#no:checked::after{
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  content: "Ah, que pena... Já tentou aprender outras linguagens?";
}

.hidden {
  display: none;
}